*,
*::before,
*::after {
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-black;
  color: $color-white;
  font-family: 'AvenirNext';
  font-weight: 600;
  font-size: 1.4rem;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $screen-lg-min) { 
    &>* {
      cursor: none!important;
    }
  }

  &.mobile,
  &.tablet {
    background-color: $color-beige;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: auto;
  }

  &.detail {
    background-color: $color-beige;
    color: #03070D;

    &.mobile,
    &.tablet {
      position: relative;
      min-height: auto;
    }

    .main {
      background-color: $color-beige;
      transition: all .4s;
    }

    &.active-gallery {

      .main {
        background-color: $color-black-darker;
        z-index: 999;
      }
    }
  }

  &.desktop {
    overflow: hidden;

    .main:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $zIndex-lower;
      opacity: 0;
    }

    &.detail {
      .main:after {
        z-index: 1;
      }
    }
  }

  .header,
  .progress,
  .controls {
    opacity: 0;
    transition: opacity 0s;
  }

  &.enter {
    .header,
    .progress,
    .controls {
      opacity: 1;
      transition: opacity 1.2s;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;  
}

button {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

a,
button {
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar {
  display: none;
}

.main {
  @include full-absolute;
  background-color: $color-black;
}

// Hide transparency of mobile URL bar
.top-overlay {
  background-color: $color-beige;
  position: fixed;
  top: -400px;
  left: 0;
  height: 400px;
  width: 100%;
  z-index: 999;
}

// Intro animations
// .home {
  // .header,
  // .progress,
  // .controls {
  //   opacity: 0;
  //   transition: opacity 0s;
  // }

  // &.enter {
  //   .header,
  //   .progress,
  //   .controls {
  //     opacity: 1;
  //     transition: opacity 1.2s;
  //   }
  // }
// }

.gutters {
  padding: 0 33px;
  padding: 0 3.3rem;
}

.offset-left {
  margin-left: 32px;
  margin-left: 10.4%;
}

.offset-right {
  margin-right: 32px;
  margin-right: 10.4%;
}

.hidden {
  display: none;
}

::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
