@font-face {
  font-family: 'AvenirNext-Demi';
  src: url('/fonts/AvenirNext-Demi.woff') format('woff'),
       url('/fonts/AvenirNext-Demi.ttf')  format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('/fonts/AvenirNext-Regular.woff') format('woff'),
       url('/fonts/AvenirNext-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Din1451';
  src: url('/fonts/Din1451.woff') format('woff'),
       url('/fonts/Din1451.ttf')  format('truetype');
}
