@mixin full-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin full-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin center-x {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
}

@mixin center-y {
  position: absolute;
  top: 50%;
  transform: translate3d(0%, -50%, 0);
}

@mixin center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin font-din {
  font-family: 'Din';
  font-weight: 400;
  text-transform: uppercase;
}
