// Font families
$font-avenir-demi: 'AvenirNext-Demi', sans-serif;
$font-avenir-regular: 'AvenirNext-Regular', sans-serif;
$font-din: 'Din1451', sans-serif;

// Media queries
$screen-xs-min:       480px;
$screen-sm-min:       768px;
$screen-md-min:       992px;
$screen-lg-min:       1200px;
$screen-xl-min:       1440px;
$screen-xxl-min:      1682px;
$screen-xs-max:       ($screen-sm-min - 1);
$screen-sm-max:       ($screen-md-min - 1);
$screen-md-max:       ($screen-lg-min - 1);
$screen-lg-max:       ($screen-xl-min - 1);

// Colors
$color-black:       #121212;
$color-white:       #FDF8F1;
$color-tan:         #998A76;

// Layout
$inset-width-left:    11.5%; // Home
$inset-width-right:   9.6%;
$offset:              11.4%; // Brand

// Zindex
// $zIndex-overlay:      500;
// $zIndex-menu:         400;
$zIndex-title:        300;
$zIndex-upper:        200;
// $zIndex-all:          175;
$zIndex-mid:          150;
$zIndex-controls:     125;
$zIndex-lower:        100;
