// Media queries
$screen-xs-min:               480px !default;
$screen-sm-min:               768px !default;
$screen-md-min:               992px !default;
$screen-lg-min:               1200px !default;
$screen-xl-min:               1440px !default;
$screen-xxl-min:              1682px !default;
$screen-xs-max:               ($screen-sm-min - 1) !default;
$screen-sm-max:               ($screen-md-min - 1) !default;
$screen-md-max:               ($screen-lg-min - 1) !default;
$screen-lg-max:               ($screen-xl-min - 1) !default;

// Font families
$font-avenir-demi: 'AvenirNext-Demi', Futura, "Trebuchet MS", Arial, sans-serif;
$font-avenir-regular: 'AvenirNext-Regular', Futura, "Trebuchet MS", Arial, sans-serif;
$font-din: 'Din1451', Futura, "Trebuchet MS", Arial, sans-serif;

// Colors
$color-black: #151515;
$color-white: #FDF8F1;

// Layout
$inset-width-left: 11.5%;
$inset-width-right: 9.6%;

// Temporary intro animation
$intro-duration: 1.2s;
