body.active-gallery {
  .brand__title,
  .brand__cta {
    opacity: 0;
  }

  .brand__next:after {
    background-color: $color-black-darker;
  }
}

.brand {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  z-index: 2;

  // &:after {
  //   content: '';
  //   background-color: $color-black;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0;
  //   transition: opacity .4s linear;
  //   z-index: -1;
  // }

  // &.active-gallery {
  //   z-index: 999;

  //   &:after {
  //     opacity: 1;
  //     z-index: 998;
  //   }
  // }

  &__title {
    @include font-din;
    backface-visibility: hidden;
    color: transparent;
    // display: block;
    font-size: 27vh;
    line-height: 0.58;
    position: absolute;
    bottom: 4px;
    left: .8%;
    z-index: 0;
    white-space: nowrap;
    -webkit-text-stroke: 2px $color-tan;
    transition: transform .2s, opacity .4s;
    will-change: transform;

    @media (min-height: $screen-sm-min) {
      -webkit-text-stroke: 3px $color-tan;
    }
  }

  &__title-wrap {
    backface-visibility: hidden;
    display: inline-block;
    letter-spacing: -3px;
    opacity: 0;
  }

  &__cta {
    backface-visibility: hidden;
    position: relative;
    height: 100%;
    text-align: center;
    transition: opacity .4s;

    &:after {
      content: '';
      @include full-absolute;
    }
  }

  &__text {
    @include center-x;
    backface-visibility: hidden;
    font-family: $font-avenir-regular;
    letter-spacing: 0.3px;
    top: 58.5%;
    transform: translate3d(-65%, 0%, 0);
    transition: transform .4s cubic-bezier(.14,.64,.44,1);

    &.is-active {
      transform: translate3d(-50%, 0%, 0);

      .brand__next:after {
        transform: scaleX(0);
      }
    }
  }

  &__lookbook {
    padding-left: 1px;
  }

  &__next {
    position: relative;

    &:after {
      content: '';
      @include full-absolute;
      background-color: $color-white;
      transform: scaleX(1);
      transform-origin: left;
      transition: transform .4s cubic-bezier(.14,.64,.44,1), background-color .4s;
    }
  }

  &__next-part {
    display: inline-block;
    // opacity: 0;
  }
}

.link {
  @include center-xy;
  @include font-din;
  letter-spacing: -2px;
  font-size: 7vw;
  z-index: $zIndex-title;

  &__wrap {
    @include center-xy;
    display: inline-block;
    white-space: nowrap;
  }

  &__part--next{
    opacity: 1;
  }

  &__part--title {
    opacity: 0;
  }
}
