.brand {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  z-index: 2;

  &__title {
    @include font-din;
    color: transparent;
    display: block;
    font-size: 18vw;
    font-size: 32.2vh;
    letter-spacing: -2px;
    line-height: 0.58;
    position: absolute;
    bottom: 0;
    left: .8%;
    z-index: 0;
    white-space: nowrap;
    -webkit-text-stroke: 3px $color-tan;
  }

  &__title-wrap {
    display: inline-block;
    opacity: 0;
  }

  &__cta {
    position: relative;
    height: 100%;
    text-align: center;

    &:after {
      content: '';
      @include full-absolute;
    }
  }

  &__text {
    @include center-x;
    font-family: $font-avenir-regular;
    letter-spacing: 0.3px;
    top: 59.5%;
    transform: translate3d(-65%, 0%, 0);
    transition: transform .4s cubic-bezier(.14,.64,.44,1);

    &.is-active {
      transform: translate3d(-50%, 0%, 0);

      .brand__next:after {
        transform: scaleX(0);
      }
    }
  }

  &__lookbook {
    padding-left: 1px;
  }

  &__next {
    position: relative;

    &:after {
      content: '';
      @include full-absolute;
      background-color: $color-white;
      transform: scaleX(1);
      transform-origin: left;
      transition: transform .4s cubic-bezier(.14,.64,.44,1);
    }
  }
}

.link {
  @include center-xy;
  @include font-din;
  letter-spacing: -2px;
  font-size: 8vw;
  z-index: $zIndex-title;

  &__wrap {
    @include center-xy;
    display: inline-block;
    white-space: nowrap;
  }

  &__part--next{
    opacity: 1;
  }

  &__part--title {
    opacity: 0;
  }
}
