.cursor {
  backface-visibility: hidden;
  display: none;
  background-color: transparent;
  mix-blend-mode: exclusion;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  height: 4rem;
  width: 4rem;
  margin-top: -2rem;
  margin-left: -2rem;
  z-index: 999;

  @media (min-width: $screen-lg-min) {
    display: block;
    pointer-events: none; // Magic sauce
  }

  &[data-fill="true"],
  &[data-reveal="true"][data-clickable="true"] {
    .cursor__inner {
      background-color: #fff;
      height: 6rem;
      width: 6rem;

      @media (min-width: $screen-xl-min) {
        height: 4.48vw;
        width: 4.48vw;
      }
    }
  }

  &[data-lock="home"] {
    .cursor__inner {
      height: 9rem;
      width: 9rem;
      transition: height .5s, width .5s;
    }
  }

  &[data-lock="all"],
  &[data-next="true"] {
    .cursor__inner {
      height: 6rem;
      width: 6rem;
    }
  }

  &[data-lock="back"] {
    .cursor__inner {
      height: 5.75rem;
      width: 5.75rem;
    }
  }

  &[data-lock="controls"] {
    .cursor__inner {
      height: 5.5rem;
      width: 5.5rem;
    }
  }

  &__inner {
    backface-visibility: hidden;
    @include center-xy;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 4rem;
    width: 4rem;
    transition: height .3s, width .3s, background-color .3s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  &__look {
    backface-visibility: hidden;
    @include font-din;
    @include center-y;
    letter-spacing: 0.2px;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-out;
  }

  &__arrows {
    @include center-xy;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
  }
}

.active-arrows {
  .cursor {
    &[data-arrow="prev"],
    &[data-arrow="next"] {
      .cursor__inner {
        height: 4.8rem;
        width: 4.8rem;
      }
  
      .arrow { opacity: 1; }
    }
  
    &[data-arrow="prev"] {
      .arrow--prev {
        transform: translate3d(-50%, -50%, 0) rotate(180deg);
      }
    }
  
    &[data-arrow="next"] {
      .arrow--next {
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
}

.arrow {
  @include center-xy;
  height: 10px;
  width: 24px;
  opacity: 0;
  transition: all .35s ease-out;

  &--prev {
    transform: translate3d(-200%, -50%, 0) rotate(180deg);
  }

  &--next {
    transform: translate3d(150%, -50%, 0);
  }
}

.js-hover {
  @media (min-width: $screen-lg-min) { cursor: none; }
}
