.cursor {
  backface-visibility: hidden;
  display: none;
  background-color: transparent;
  mix-blend-mode: exclusion;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  height: 4rem;
  width: 4rem;
  margin-top: -2rem;
  margin-left: -2rem;
  z-index: 999;
  transition: margin .3s, height .3s, width .3s, background-color .3s;
  transition-timing-function: ease-out;
  opacity: 0;

  @media (min-width: $screen-lg-min) {
    display: block;
    pointer-events: none; // Magic sauce
  }

  &[data-fill="true"],
  &[data-reveal="true"][data-clickable="true"] {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;

    @media (min-width: $screen-xl-min) {
      height: 4.5vw;
      width: 4.5vw;
      margin-top: -2.25vw;
      margin-left: -2.25vw;
    }

    .cursor__inner { opacity: 0; }
  }

  &[data-lock="home"] {
    height: 9rem;
    width: 9rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
    transition: margin .5s, height .5s, width .5s, background-color .5s;
  }

  &[data-lock="all"],
  &[data-next="true"] {
    height: 6rem;
    width: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
  }

  &[data-lock="back"] {
    height: 5.75rem;
    width: 5.75rem;
    margin-top: -2.875rem;
    margin-left: -2.875rem;
  }

  &[data-lock="controls"] {
    height: 5.5rem;
    width: 5.5rem;
    margin-top: -2.75rem;
    margin-left: -2.75rem;
  }

  &__inner {
    backface-visibility: hidden;
    // @include center-xy;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .2s;
    transition-timing-function: ease-out;
  }

  &__look {
    backface-visibility: hidden;
    @include font-din;
    @include center-y;
    letter-spacing: 0.2px;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    // position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-out;
  }
}

.js-hover {
  @media (min-width: $screen-lg-min) { cursor: none; }
}
