.description {
  &__wrap {
    backface-visibility: hidden;
    display: none;
    font-family: $font-avenir-regular;
    letter-spacing: 0.3px;
    position: absolute;
    // top: 86%;
    bottom: 8.5%;
    left: $inset-width-left;
    line-height: 1.9em;
    max-width: 252px;
  
    @media (min-width: $screen-lg-min) {
      display: block;
    }
  }

  &__text {
    backface-visibility: hidden;
    opacity: 0;
  }
}