.description {
  &__wrap {
    backface-visibility: hidden;
    display: none;
    font-weight: 400;
    letter-spacing: 0.2px;
    position: absolute;
    bottom: 8.4%;
    left: $inset-width-left;
    line-height: 1.9em;
    max-width: 248px;
  
    @media (min-width: $screen-lg-min) {
      display: block;
    }
  }

  &__text {
    backface-visibility: hidden;
    opacity: 0;
  }
}
