.gallery {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;

  &__support {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 31.1%;
    z-index: -1;
    opacity: 0;

    .gallery-slide {
      height: 100%;
      width: 100%;
      opacity: 0;
      overflow: hidden;
    }

    .gallery-slide--portrait {
      .gallery-slide__img {
        background-size: 200%;
        background-position: 92% 50%;
      }
    }

    .gallery-slide--landscape {
      .gallery-slide__img {
        background-size: cover;
        background-position: 70% 50%;
      }
    }

    .gallery-slide__wrap {
      // background-color: $color-black-darker;

      &:after {
        content: '';
        @include full-absolute;
        background-color: $color-black;
        opacity: .67;
        z-index: 100;
        width: 101%;
      }
    }

    .gallery-slide__img {
      // background-color: $color-black-darker;
      background-size: 200%;
      // background-position: right center;
      overflow: hidden;
      // filter: blur(4px);
    }
  }

  &__brand {
    @include font-din;
    font-size: 3.6rem;
    color: $color-white;
    position: absolute;
    bottom: 7%;
    right: 49px;
    opacity: 0;
    @media (min-width: $screen-lg-min) { right: 4.3%; }
  }
}

.gallery-slide {
  @include center-x;
  backface-visibility: hidden;
  overflow-x: hidden;
  pointer-events: none;
  opacity: 0;
  height: 66vh;
  width: 56%;

  &--portrait {
    height: 100vh;
    width: 38%;
  }

  &--landscape {
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &__wrap {
    backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  &__img {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    pointer-events: none;
  }
}

.gallery-title {
  @include font-din;
  color: $color-white;
  font-size: 5.25vw;
  position: absolute;
  bottom: 11.4%;
  left: 9%;
  z-index: 100;

  &__part {
    opacity: 0;
  }
}

.back-btn {
  color: $color-white;
  display: inline-block;
  letter-spacing: 0.3px;
  padding: 0 13px;
  position: absolute;
  transform: translate(0%, -30%);
  top: 40px;
  left: 36px;
  opacity: 0;

  @media (min-width: $screen-lg-min) { left: 3.2%; top: 4vw; }
  @media (min-width: $screen-xl-min) { top: 3.5vw; }

  &__bar {
    display: inline-block;
    background-color: $color-white;
    height: 2px;
    width: 30px;
    width: 60px;
    vertical-align: middle;
    margin-right: 10px;
  }

  &__text {
    display: inline-block;
    padding: 13px;
  }
}
