.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;

  &__link {
    color: #fff;
    position: absolute;
    top: 13px;
    padding: 13px;

    &:focus {
      color: #fff;
    }
  }

  $sides-value: 12px;

  &__link--title {
    left: $sides-value;
  }

  &__link--about {
    left: 130px;
  }

  &__link--all {
    right: $sides-value;
  }
}