.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zIndex-upper;

  &__item {
    position: absolute;
    top: 25px;
    letter-spacing: 0.3px;

    @media (min-width: $screen-sm-min) { top: 40px; }

    @media (min-width: $screen-lg-min) {
      top: 3.5vw;
      text-align: center;
    }
  }

  &__item--title {
    left: 12px;

    @media (min-width: $screen-sm-min) { left: 36px; }

    @media (min-width: $screen-lg-min) { left: 3.2%; }
  }

  &__item--about {
    left: 130px;

    @media (min-width: $screen-sm-min) { left: 180px; }

    @media (min-width: $screen-lg-min) { left: 16.25%; }
  }

  &__item--all {
    right: 12px;

    @media (min-width: $screen-sm-min) { right: 36px; }

    @media (min-width: $screen-lg-min) {
      right: 0;
      width: $inset-width-right;
    }
  }

  &__link,
  &__btn {
    padding: 13px;
  }

  &__btn {
    transform: translate(0%, -30%); // weird styling to match links
    height: 43px;

    &.is-active {
      .header__btn-text--close { transform: translate3d(0%, 0%, 0); opacity: 1; transition: opacity, .25s linear .35s, transform .5s ease-in-out; }
      .header__btn-text--all { transform: translate3d(0%, 100%, 0); opacity: 0; transition: opacity, .25s linear, transform .5s ease-in-out; }
    }
  }

  &__btn-wrap {
    overflow: hidden;
    display: inline-block;
    height: 17px;
  }

  &__btn-text {
    display: block;
    transform: translate3d(0%, -100%, 0);
  }

  &__btn-text--close {
    opacity: 0;
    transition: opacity, .25s linear, transform .5s ease-in-out;
  }

  &__btn-text--all {
    transition: opacity, .25s linear .35s,transform .5s ease-in-out;

    @media (max-width: $screen-md-max) {
      text-align: right;
    }
  }
}

// Need to check if it's IE or Edge
.detail {
  .header {
    mix-blend-mode: exclusion;
    color: #fff;
  }
}
