.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;

  // Temporary intro animation
  opacity: 0;
  transition: $intro-duration;

    // @media (min-width: $screen-xxl-min) {
    //   top: 5.5%;
    // }

  &__item {
    position: absolute;
    top: 25px;
    letter-spacing: 0.3px;

    @media (min-width: $screen-lg-min) {
      top: 3.5vw;
      // top: 0;
      text-align: center;
    }

    // @media (min-width: $screen-xl-min) {
    //   top: 58px;
    // }

    // @media (min-width: $screen-xxl-min) {
    //   top: 0;
    // }
  }

  &__item--title {
    left: $horizontal-inset;

    @media (min-width: $screen-lg-min) {
      left: 3.2%;
    }
  }

  &__item--about {
    left: 130px;

    @media (min-width: $screen-lg-min) {
      left: 16.25%;
      // left: 15%;
    }
  }

  &__item--all {
    right: $horizontal-inset;

    @media (min-width: $screen-lg-min) {
      right: 0;
      width: $inset-width-right;
    }
  }

  &__link {
    color: $color-white;
    padding: 13px;

    &:focus {
      color: $color-white;
    }
  }
}