.is-desktop {
  .hover-reveal {
    @media (min-width: $screen-lg-min) { display: block; }
  }
}

.hover-imgs {
  backface-visibility: hidden;
  display: none;
  position: absolute;
  top: 50%;
  left: 15.4%;
  transform: translate3d(0%, -50%, 0);
  height: 72.4%;
  width: 26.19%;
  z-index: -1;
}

.hover-reveal {
  backface-visibility: hidden;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0; 

  &__inner,
  &__img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__inner {
    backface-visibility: hidden;
    overflow: hidden;
  }

  &__img {
    background-size: cover;
    background-position: center;
    pointer-events: none;
  }
}