.menu-active {
  .title__link.is-active,
  .controls {
    z-index: $zIndex-lower;
  }

  .header__item--about {
    z-index: -1;
  }
}

.menu {
  @include full-fixed;
  backface-visibility: hidden;
  background-color: $color-black-darker;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  z-index: $zIndex-mid;

  &__wrap {
    backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
}

.nav {
  @include center-y;
  display: none;
  position: absolute;
  text-align: right;
  width: 100%;


  &__item {
    padding-right: 27px;

    @media (min-width: $screen-sm-min) {
      padding-right: 50px;
    }

    @media (min-width: $screen-lg-min) {
      height: 9.41vw;
      padding-right: 9.4%;
    }
    
    @media (min-width: $screen-lg-min) {
      height: 9.41vw;
      padding-right: 9.4%;
    }

    @media (min-width: $screen-xl-min) { height: 8.7vw; }
  }

  &__link {
    display: inline-block;
    padding: 6px 0;
    position: relative;
    width: 100%;

    @media (min-width: $screen-lg-min) {
      height: 9.41vw;
      padding: 0;

      &.is-active,
      &:focus,
      &:hover {
        .nav__title { opacity: 0; }
        .nav__title--stroke { opacity: 1; }
      }
    }
    
    @media (min-width: $screen-xl-min) { height: 8.7vw; }
  }

  &__title-wrap { position: relative; }

  &__title {
    display: inline-block;
    color: $color-white;
    @include font-din;
    font-size: 13vw;
    letter-spacing: 0.015em;
    padding-right: 44px;
    text-transform: uppercase;
    transition: opacity .45s;

    @media (min-width: $screen-sm-min) {
      padding-right: 7%;
      font-size: 11vw;
    }

    @media (min-width: $screen-md-min) {
      font-size: 10.5rem;
      font-size: 10vw;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 8vw;
      padding-right: 6%;
      position: absolute;
      top: 0;
      right: 0;
    }

    @media (min-width: $screen-xl-min) { font-size: 7vw; }

    &--stroke {
      display: none;
      color: transparent;
      opacity: 0;
      -webkit-text-stroke: 2px $color-white;
      transition: opacity .45s;

      @media (min-width: $screen-lg-min) { display: inline-block; }
    }
  }

  &__num {
    color: $color-white;
    display: inline-block;
    font-size: 1.4rem;
    transform: rotate(-90deg) translate(0%, -110%);
    transform-origin: center;
    position: absolute;
    top: 32%;
  }
}

.slide.slide--menu {
  opacity: 1;
}
