.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  &__link {
    color: #fff;
    position: absolute;
    top: 22px;

    &:focus {
      color: #fff;
    }
  }

  &__link--title {
    left: 20px;
  }

  &__link--about {
    left: 146px;
  }

  &__link--all {
    @include pos-right;
  }
}