.reveal-m {
  margin-bottom: 42%;
  max-width: 668px;
  opacity: 0;
  overflow: hidden;
  width: 100%;

  &:nth-child(1) {
    opacity: 1;
  }

  &:nth-child(1),
  &:nth-child(5) {
    padding-right: $offset;

    @media (min-width: $screen-sm-min) { padding-left: 0; margin-left: 0 }
  }

  &:nth-child(2),
  &:nth-child(7), {
    padding-left: $offset;

    @media (min-width: $screen-sm-min) {
      margin-right: 0;
   }
  }

  @media (min-width: $screen-sm-min) {
    margin: 0 auto 26%;
  }

  @media (min-width: $screen-lg-min) {
    margin: 0 auto 24%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // Padding-bottoms
  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(7) {
    .reveal-m__img {
      padding-bottom: 149.3%;
    }
  }

  &:nth-child(2) {
    .reveal-m__img {
      padding-bottom: 83.2%;
    }
  }

  &:nth-child(3) {
    .reveal-m__img {
      padding-bottom: 87.3%;
    }
  }

  &:nth-child(6) {
    .reveal-m__img {
      padding-bottom: 87.3%;
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__img {
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    padding-bottom: 149.3%;
    height: 100%;
    width: 100%;
  }
}

