.reveal {
  margin-bottom: 42%;
  max-width: 668px;

  width: 100%;
  opacity: 0;
  overflow: hidden;

  &:nth-child(1),
  &:nth-child(5) {
    padding-right: $offset;

    @media (min-width: $screen-md-min) { padding-left: 0; margin-left: 0 }
  }

  &:nth-child(2),
  &:nth-child(7), {
    padding-left: $offset;

    @media (min-width: $screen-md-min) {
      margin-right: 0;
   }
  }

  @media (min-width: $screen-md-min) {
    margin: 0 auto 26%;
  }

  @media (min-width: $screen-lg-min) {
    margin: 0 auto 24%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // Padding-bottoms
  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(7) {
    .reveal__img {
      padding-bottom: 149.3%;
    }
  }

  &:nth-child(2) {
    .reveal__img {
      padding-bottom: 83.2%;
    }
  }

  &:nth-child(3) {
    .reveal__img {
      padding-bottom: 87.3%;
    }
  }

  &:nth-child(6) {
    .reveal__img {
      padding-bottom: 87.3%;
    }
  }



  &__inner {
    height: 100%;
    width: 100%;
    position: relative;

    overflow: hidden;
  }

  &__img {
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    padding-bottom: 149.3%;
    height: 100%;
    width: 100%;
  }

  // Margins
  // &__img-wrap:nth-child(1),
  // &__img-wrap:nth-child(5) {
  //   margin-right: $offset;

  //   @media (min-width: $screen-md-min) { margin-left: 0; }
  // }

  // &__img-wrap:nth-child(2),
  // &__img-wrap:nth-child(7), {
  //   margin-left: $offset;

  //   @media (min-width: $screen-md-min) { margin-left: auto; margin-right: 0; }
  // }

  // Padding-bottoms
  // &__img-wrap:nth-child(1),
  // &__img-wrap:nth-child(4),
  // &__img-wrap:nth-child(5),
  // &__img-wrap:nth-child(7) {
  //   .scroll-reveal__img {
  //     padding-bottom: 149.3%;
  //   }
  // }

  // &__img-wrap:nth-child(2) {
  //   .brand__img {
  //     padding-bottom: 83.2%;
  //   }
  // }

  // &__img-wrap:nth-child(3) {
  //   .brand__img {
  //     padding-bottom: 87.3%;
  //   }
  // }

  // &__img-wrap:nth-child(6) {
  //   .brand__img {
  //     padding-bottom: 87.3%;
  //   }
  // }
}
