.slider {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
	position: relative;
  width: 100%;

  &--main {
    @media (min-width: $screen-lg-min) {
      left: 46.4%;
      width: 44%;
    }
  }

  &--section {
    display: none;
    @media (min-width: $screen-lg-min) {
      display: block;
      position: absolute;
      top: 18%;
      left: $inset-width-left;
      height: 63%;
      width: 23.7%;
    }
  }
}

.controls {
  position: fixed;
  bottom: 10px;
  right: 0;
  z-index: $zIndex-controls;

  @media (min-width: $screen-sm-min) {
    bottom: 25px;
    right: 24px;
  }

  @media (min-width: $screen-lg-min) {
    bottom: 50%;
    right: 0;
    transform: translate(0, 50%);
    width: $inset-width-right;
  }

  &__btn {
    display: block;
    padding: 10px 24px;
    margin: 0 auto;

    @media (min-width: $screen-lg-min) { padding: 14px 20px; }
  }

  &__item {
    color: $color-white;
    font-size: 2.8rem;
    position: relative;

    @media (min-width: $screen-sm-min) { font-size: 3.4rem; }

    @media (min-width: $screen-lg-min) { font-size: 3.6rem; }
  }

  // &__item--minus {
  //   color: transparent;

  //   &:after {
  //     @include center-xy;
  //     content: '';
  //     background-color: #fff;
  //     height: 3px;
  //     width: 15px;

  //     @media (min-width: $screen-sm-min) {
  //       height: 4px;
  //       width: 18px;
  //     }

  //     @media (min-width: $screen-lg-min) {
  //       width: 21px;
  //     }
  //   }
  // }
}
