.slider {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
	position: relative;
  width: 100%;

  &--main {
    @media (min-width: $screen-lg-min) {
      left: 46.4%;
      width: 44%;
    }
  }

  &--section {
    display: none;
    @media (min-width: $screen-lg-min) {
      display: block;
      position: absolute;
      top: 18%;
      left: $inset-width-left;
      // height: 64%;
      // width: 24.2%;
      height: 63%;
      width: 23.7%;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
  }
}

.controls {
  position: fixed;
  bottom: 10px;
  right: 0;
  z-index: 200;

  // Temporary intro animation
  opacity: 0;
  transition: $intro-duration;

  @media (min-width: $screen-lg-min) {
    bottom: 50%;
    transform: translate(0, 50%);
    width: $inset-width-right;
  }

  &__btn {
    display: block;
    padding: 10px 24px;

    @media (min-width: $screen-lg-min) {
      margin: 0 auto;
      padding: 13px 20px;
    }
  }

  &__plus {
    color: $color-white;
    font-size: 2.8rem;

    @media (min-width: $screen-lg-min) {
      font-size: 4rem;
    }
  }
}
