.title {

  &__link {
    @include center-xy;
    @include font-din;
    font-size: 14vw;
    line-height: 0.9;
    z-index: 0;
  
    @media (min-width: $screen-lg-min) {
      font-size: 8vw;
      letter-spacing: .01em;
    }

    &.is-active {
      z-index: $zIndex-mid;
    }

    &.is-clicked {
      z-index: $zIndex-title;
      pointer-events: none;
    }
  }

  &__wrap {
    @include center-xy;
    transition: opacity .35s;
    white-space: nowrap;
  }

  &__wrap--stroke {
    opacity: 0;
  }

  &__part {
    color: $color-white;
    opacity: 0;
  }

  &__part--stroke {
    color: transparent;
    opacity: 0;
    -webkit-text-stroke: 2px $color-white;
  }
}

.is-desktop {
  .titles:hover,
  .title__link.is-active:active,
  .title__link.is-active:focus,
  .title__link.is-clicked, {
    .title__wrap {
      opacity: 0;
    }

    .title__wrap--stroke {
      opacity: 1;
    }
  }
}
