.title {
  &__link {
    @include center-xy;
    cursor: pointer;
    font-family: $font-din;
    font-weight: 400;
    font-size: 14vw;
    line-height: 0.9;
    text-transform: uppercase;
    z-index: 99;
  
    @media (min-width: $screen-lg-min) {
      font-size: 8vw;
      letter-spacing: .01em;
    }

    &.is-active {
      z-index: 200;
    }
  }

  &__wrap {
    @include center-xy;
    transition: opacity .35s;
    white-space: nowrap;
  }

  &__wrap--stroke {
    opacity: 0;
  }

  &__part {
    color: $color-white;
    opacity: 0;
  }

  &__part--stroke {
    color: transparent;
    opacity: 0;
    -webkit-text-stroke: 1px $color-white;

    @media (min-width: $screen-sm-min) { -webkit-text-stroke: 2px $color-white; }
  }
}

.desktop {
  .title:hover,
  .title:focus,{
    .title__wrap {
      opacity: 0;
    }

    .title__wrap--stroke {
      opacity: 1;
    }
  }
}
